# Environment Config

# store your secrets and config variables in here
# only invited collaborators will be able to see your .env values

# reference these in your code with process.env.SOLCAST_API_KEY

SOLCAST_API_KEY=<API KEY>
SLACK_CLIENT_ID=<SLACK APP CLIENT ID>
SLACK_CLIENT_SECRET=<SLACK CLIENT SECRET>
SLACK_VERIFICATION_TOKEN=<SLACK VERIFICATON TOKEN>
# You can leave this blank but you will have a stricter API request limit
GOOGLE_API_KEY=<GOOGLE TIME API KEY>

# note: .env is a shell file so there can't be spaces around =
